<!DOCTYPE html>
<html lang="en">

<head>
<title>Job Offer Post Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" 
	href="bootstrap-4.3.1-dist/css/bootstrap.min.css">	
<link rel="stylesheet" href="style.css">
  	
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script 
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script 
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->    

</head>

<body onload="getLocation()">
	<p id="demo"></p>

	<div th:if = "${session.employerEmail == null}"> 
			<script >
    			window.location.replace("http://localhost:8080/loginEmployer");
			</script>
	</div>


	<div class="container-fluid" >
	<!-- show email (of employer logged in) and logout button -->

		<div class="row">
				<div class="col-sm-10" >			
					<span  th:text="${session.employerEmail}" class="text-primary"> span one </span>	
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-sm-6"></div>
						<a  href="logoutEmployer" class="btn btn-danger">Logout</a>
					</div>
				</div>
				
		</div>
	
		<br>
		<h2 style="text-align:center">Post a new Job Offer</h2>
		<br>

		<form action="#" th:action="@{/postJobOffer}" th:object="${jobOffer}"
			method="post">

<!-- fieldOfWork.name -->
				<div class="form-group row">
					<label for="fieldOfWork_name" class="col-sm-2 col-form-label">
						Field Of Work (*):
					</label>

				<div class="col-sm-3"> 
				<select
					class="form-control" id="fieldOfWork_name" name="fieldOfWork_name" 
						th:field="*{fieldOfWork.name}">
					<option value="Construction">Construction</option>
					<option value="Driver">Driver</option>
					<option value="Painter">Painter</option>
					<option value="Plumbery">Plumbery</option>
					<option value="Security">Security</option>
					<option value="Cook">Cook</option>
					<option value="Carpenter">Carpenter</option>
					<option value="Labourer">Labourer</option>
					<option value="Watchman">Watchman</option>
				</select>
				</div>

				<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('fieldOfWork.name')}"
					th:errors="*{fieldOfWork.name}">FieldOfWork.Name Error</div>
				</div>



	<!-- jobTitle -->
			<div class="form-group row">
				<label for="jobTitle" class="col-sm-2 col-form-label">Job title:</label>

					<div class="col-sm-3">
						<input type="text" class="form-control" id="jobTitle"
							placeholder="Enter jobTitle" name="jobTitle" 
								th:field="*{jobTitle}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('jobTitle')}"
						th:errors="*{jobTitle}">JobTitle Error</div>
				</div>
				
	<!-- responsibility -->			
				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">Responsibility:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="responsibility"
							placeholder="Enter responsibility" name="responsibility" th:field="*{responsibility}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('responsibility')}"
						th:errors="*{responsibility}">Responsibility Error</div>
				</div>

	<!-- jobOpenings -->
				<div class="form-group row">
					<label for="jobOpenings" class="col-sm-2 col-form-label">
							No. of Openings (*):</label>
					<div class="col-sm-3">
						<input type="number" min="1" class="form-control" id="jobOpenings"
							placeholder="Enter no. of openings" name="jobOpenings" th:field="*{jobOpenings}">
					</div>
					<div class="col-sm-5"  style="color:red"  th:if="${#fields.hasErrors('jobOpenings')}"
						th:errors="*{jobOpenings}">JobOpenings Error</div>
				</div>
	
	<!-- datePosted -->	
				<div class="form-group row">
					<label for="datePosted" class="col-sm-2 col-form-label">Date of Posting:</label>
					<div class="col-sm-3">
						<input type="date" class="form-control" id="datePosted"
							placeholder="Enter date of posting" name="datePosted" th:field="*{datePosted}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('datePosted')}"
						th:errors="*{datePosted}">DatePosted Error</div>
				</div>
	<!-- workHours -->
				<div class="form-group row">
					<label for="workHours" class="col-sm-2 col-form-label">
							Work Hours (*):</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control" id="workHours"
							placeholder="Enter work hours" name="workHours"
							th:field="*{workHours}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('workHours')}"
						th:errors="*{workHours}">WorkHours Error</div>
				</div>

	<!-- validThrough -->	
				<div class="form-group row">
					<label for="validThrough" class="col-sm-2 col-form-label">Job is Valid upto (*):</label>
					<div class="col-sm-3">
						<input type="date" class="form-control" id="validThrough"
							placeholder="Enter date until which it is valid" name="validThrough" th:field="*{validThrough}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('validThrough')}"
						th:errors="*{validThrough}">ValidThrough Error</div>
				</div>

	<!-- currency -->
			<div class="form-group row">
				<label for="currency" class="col-sm-2 col-form-label">Currency:</label>
				<div class="col-sm-3"> 
				<select
					class="form-control" id="currency" name="currency" th:field="*{currency}">
					<option value="Rupee">Rupee</option>
					<option value="Dollar">Dollar</option>
					<option value="Lira">Lira</option>
					<option value="Yuan">Yuan</option>
				</select>
				</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('currency')}"
						th:errors="*{currency}">Currency Error</div>
				</div>

<!-- experienceYears -->
				<div class="form-group row">
					<label for="experienceYears" class="col-sm-2 col-form-label">
						Experience required (years) (*):</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control" id="experienceYears"
							placeholder="Enter experience required" name="experienceYears"
							th:field="*{experienceYears}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('experienceYears')}"
						th:errors="*{experienceYears}">ExperienceYears Error</div>
				</div>

<!-- recommendation -->
				<div class="form-group row">
					<label for="recommendation" class="col-sm-2 col-form-label">Recommendation required:</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control" id="recommendation"
							placeholder="Enter recommendations required" name="recommendation"
							th:field="*{recommendation}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('recommendation')}"
						th:errors="*{recommendation}">Recommendation Error</div>
				</div>

<!-- competencyLevel -->
				<div class="form-group row">
					<label for="competencyLevel" class="col-sm-2 col-form-label">
						Competency Level required:
					</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control" id="competencyLevel"
							placeholder="Enter competencyLevel required" name="competencyLevel"
							th:field="*{competencyLevel}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('competencyLevel')}"
						th:errors="*{competencyLevel}">ExperienceYears Error</div>
				</div>


<!-- certificate.name -->
				<div class="form-group row">
					<label for="certificate_name" class="col-sm-2 col-form-label">
						Certificate required:
					</label>
					<div class="col-sm-3"> 
					<select
						class="form-control" id="certificate_name" name="certificate_name" 
							th:field="*{certificate.name}">
						<option value="Certificate-1">Certificate-1</option>
						<option value="Certificate-2">Certificate-2</option>
						<option value="Certificate-3">Certificate-3</option>
						<option value="Certificate-4">Certificate-4</option>
						<option value="Certificate-5">Certificate-5</option>
					</select>
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('certificate.name')}"
						th:errors="*{certificate.name}">Certificate.Name Error</div>
				</div>

<!-- education.yearsOfEducation -->
				<div class="form-group row">
					<label for="education_yearsOfEducation" class="col-sm-2 col-form-label">
						Years of Education required:</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control" id="education.yearsOfEducation"
							placeholder="Enter years of education" name="education.yearsOfEducation"
							th:field="*{education.yearsOfEducation}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('education.yearsOfEducation')}"
						th:errors="*{education.yearsOfEducation}">Education.YearsOfEducation Error</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-2"></div>
					<div class="col-sm-3">
						<button type="submit" class="btn btn-primary btn-md">Submit</button>
					</div>
				</div>
		</form>
	</div>

	<script>
	var x = document.getElementById("demo");
	
	
	/* function showPosition(position) {
		  var latlon = position.coords.latitude + "," + position.coords.longitude;
	
		  var img_url = "https://maps.googleapis.com/maps/api/staticmap?center=
		  "+latlon+"&zoom=14&size=400x300&sensor=false&key=YOUR_:KEY";
	
		  document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
	}
	 */
	
	function showError(error) {
	  switch(error.code) {
	    case error.PERMISSION_DENIED:
	      x.innerHTML = "User denied the request for Geolocation."
	      break;
	    case error.POSITION_UNAVAILABLE:
	      x.innerHTML = "Location information is unavailable."
	      break;
	    case error.TIMEOUT:
	      x.innerHTML = "The request to get user location timed out."
	      break;
	    case error.UNKNOWN_ERROR:
	      x.innerHTML = "An unknown error occurred."
	      break;
	  }
	}
	
	
	function getLocation() {
	  if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(showPosition, showError);
	  } else { 
	    x.innerHTML = "Geolocation is not supported by this browser.";
	  }
	}
	
	 
	function showPosition(position) {
	  x.innerHTML = "Latitude: " + position.coords.latitude + 
	  "<br>Longitude: " + position.coords.longitude;
	}
	
	</script>

</body>
</html>
