<!DOCTYPE html>
<html lang="en">

<head>
<title>Worker Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container-fluid" style="text-align:center">
		<br>
		<h2 >Home Page</h2><br>
		<br>


			<!-- Add button/link to show all Jobs-->
		<a href="showAllJobs" class="btn btn-info btn-sm">
			show All Jobs
		</a>
		<hr>


			<!-- Add button/link to show Jobs matching Field of work-->
		<a th:href="@{/showJobsMatchingFieldOfWork(workerId=${worker.id})}"
		   class="btn btn-info btn-sm">
			Show jobs for my field of work
		</a>
		<hr>
		 
			<!-- Add button/link to show Jobs matching Certificate-->
		<a th:href="@{/showJobsMatchingCertificate(workerId=${worker.id})}"
		   class="btn btn-info btn-sm">
			Show jobs that demand my certificate
		</a>

		 	
 </div>
</body>
</html>