<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
<title>Employer Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" 
	href="bootstrap-4.3.1-dist/css/bootstrap.min.css">	
<link rel="stylesheet" href="style.css">
  	
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script 
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script 
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    

</head>

 
<body onload="getLocation()">
	<p id="demo"></p>


	<!-- redirect if session expired -->
	<div th:if = "${session.employerEmail == null}"> 
			<script >
    			window.location.replace("http://localhost:8080/loginEmployer");
			</script>
	</div>


		<!-- Create Menubar-->
		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
			<a class="navbar-brand" href="#">Daily-Hiring</a>

		    <ul class="navbar-nav">
		      <li class="nav-item">
		      		<a href="employerHomePage" class="nav-link">Home</a>
		      </li>
		      
		      <li class="nav-item">
		      		<a class="nav-link" href="employerProfilePage">Profile</a>
		      </li>
		      
		      <li class="nav-item active">
		      		<a class="nav-link" href="employerPostedJobsPage">Posted-Jobs</a>
		      </li>
		      <li class="nav-item">
		      		<a class="nav-link" href="employerAboutPage">About</a>
		      </li>
		    </ul>

		</nav>		
		
	
	<div class="container-fluid">
	
			<div class="row">
				<div class="col-sm-10" >			
					<span  th:text="${session.employerEmail}" class="text-primary"> span one </span>	
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-sm-6"></div>
						<a  href="logoutEmployer" class="btn btn-danger">Logout</a>
					</div>
				</div>
				
			</div>
			
			<br>
			<h2 style="text-align:center">Jobs Posted by Me</h2><br>
	
	
		<hr>
		<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Job ID</th>
				<th>Employer Email</th>
				<th>Appointment-Description</th>
				<th>No-Of-Openings</th>
				<th>Job-Starts</th>
				<th>Job-Ends</th>
				<th>Payment-Type</th>
				<th>Payment-Mode</th>
				<th>Rating required</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempJob : ${jobs}">
			
				<td th:text="${tempJob.jobIdInFuseki}" />	
				<td th:text="${tempJob.employerEmail}" />	
				<td th:text="${tempJob.appointmentDescription}" />	
				<td th:text="${tempJob.jobOpenings}" />	
				<td th:text="${tempJob.jobStarts}" />	
				<td th:text="${tempJob.jobEnds}" />	
				<td th:text="${tempJob.paymentType}" />	
				<td th:text="${tempJob.paymentMode}" />	
				<td th:text="${tempJob.ratingRequired}" />	
			</tr>
		</tbody>		
	</table>
			
			
	</div>

 	<script>
	var x = document.getElementById("demo");
	
	
	/* function showPosition(position) {
		  var latlon = position.coords.latitude + "," + position.coords.longitude;
	
		  var img_url = "https://maps.googleapis.com/maps/api/staticmap?center=
		  "+latlon+"&zoom=14&size=400x300&sensor=false&key=YOUR_:KEY";
	
		  document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
	}
	 */
	
	function showError(error) {
	  switch(error.code) {
	    case error.PERMISSION_DENIED:
	      x.innerHTML = "User denied the request for Geolocation."
	      break;
	    case error.POSITION_UNAVAILABLE:
	      x.innerHTML = "Location information is unavailable."
	      break;
	    case error.TIMEOUT:
	      x.innerHTML = "The request to get user location timed out."
	      break;
	    case error.UNKNOWN_ERROR:
	      x.innerHTML = "An unknown error occurred."
	      break;
	  }
	}
	
	
	function getLocation() {
	  if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(showPosition, showError);
	  } else { 
	    x.innerHTML = "Geolocation is not supported by this browser.";
	  }
	}
	
	 
	function showPosition(position) {
	  x.innerHTML = "Latitude: " + position.coords.latitude + 
	  "<br>Longitude: " + position.coords.longitude;
	}
	
	</script>
	
</body>
</html>