<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
<title>Employer Registration Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" 
	href="bootstrap-4.3.1-dist/css/bootstrap.min.css">	
<link rel="stylesheet" href="style.css">  	
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script 
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script 
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->    

</head>

<body onload="getLocation()">
	<div class="container-fluid">

	<!-- Shows error message if geolocation is not supported by the browser. -->	
		<p id="demo"></p>
	
		<br>
		<h2 style="text-align:center">Employer Registration</h2>
		<br>

		<form action="#" th:action="@{/registerEmployer}" th:object="${employer}"
			method="post">

<!-- Add latitude and longitude -->
			<input type="hidden"  id="latitude"
				 name="latitude" th:field="*{latitude}" value="">

			<input type="hidden"  id="longitude"
				 name="longitude" th:field="*{longitude}" value=""> 



<!-- name -->
				<div class="form-group row">
					<label  for="name" class="col-sm-2 col-form-label">Name:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="name"
							placeholder="Enter your Name" name="name" th:field="*{name}">
					</div>
					<div class="col-sm-5" style="color:red" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}">Name Error</div>
				</div>


<!-- gender -->
			<div class="form-group row">
				<label  for="gender" class="col-sm-2 col-form-label">Gender:</label>
				<div class="col-sm-3"> 
				<select 
					class="form-control" id="gender" name="gender" th:field="*{gender}">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
				</div>
					<div class="col-sm-5" style="color:red" th:if="${#fields.hasErrors('gender')}"
						th:errors="*{gender}">Gender Error</div>
				</div>

<!-- language -->
			<div class="form-group row">
				<label  for="language" class="col-sm-2 col-form-label">Language:</label>
				<div class="col-sm-3"> 
				<select 
					class="form-control" id="language" name="language" th:field="*{language}">
					<option value="Portuguese">Portuguese</option>
					<option value="English">English</option>
					<option value="Hindi">Hindi</option>
				</select>
				</div>
					<div class="col-sm-5" style="color:red" th:if="${#fields.hasErrors('language')}"
						th:errors="*{language}">Gender Error</div>
				</div>

<!-- Todo - add photograph --> 


	<!-- dateOfBirth -->	
				<div class="form-group row">
					<label for="dateOfBirth" class="col-sm-2 col-form-label">Date Of Birth:</label>
					<div class="col-sm-3">
						<input type="date" class="form-control" id="dateOfBirth"
							placeholder="Enter date of birth" name="dateOfBirth" th:field="*{dateOfBirth}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}"
						th:errors="*{dateOfBirth}">DateOfBirth Error</div>
				</div>




<!-- email -->
				<div class="form-group row">
					<label  for="email" class="col-sm-2 col-form-label">Email:</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" id="email"
							placeholder="Enter email" name="email" th:field="*{email}">
					</div>
					<div class="col-sm-5" style="color:red" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}">Email Error</div>
				</div>


<!-- faxNumber -->
				<div class="form-group row">
					<label  for="faxNumber" class="col-sm-2 col-form-label">Fax Number:</label>
					<div class="col-sm-3">
						<input type="number" class="form-control" id="faxNumber"
							placeholder="Enter fax Number" name="faxNumber" th:field="*{faxNumber}">
					</div>
					<div class="col-sm-5" style="color:red" th:if="${#fields.hasErrors('faxNumber')}"
						th:errors="*{faxNumber}">Email Error</div>
				</div>




<!-- telephoneNumber -->
				<div class="form-group row">
					<label  for="telephoneNumber" class="col-sm-2 col-form-label">Telephone No:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="telephoneNumber"
							placeholder="Enter telephoneNumber" name="telephoneNumber" th:field="*{telephoneNumber}">
					</div>
					<div class="col-sm-5" style="color:red" th:if="${#fields.hasErrors('telephoneNumber')}"
						th:errors="*{telephoneNumber}">TelephoneNumber Error</div>
				</div>


<!-- password -->
			<div class="form-group row">
				<label   for="password" class="col-sm-2 col-form-label">Password:</label>
				<div class="col-sm-3">
					<input type="password" class="form-control" id="password"
						placeholder="Enter password" name="password"
						th:field="*{password}">
				</div>
				<div class="col-sm-5" style="color:red" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">Password Error</div>
			</div>


<!-- address.buildingName -->
				<div class="form-group row">
					<label for="address_buildingName" class="col-sm-2 col-form-label">
						Building Name:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="address_buildingName"
							placeholder="Enter building Name" name="address_buildingName" th:field="*{address.buildingName}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('address.buildingName')}"
						th:errors="*{address.buildingName}">Address.BuildingName Error</div>
				</div>



<!-- address.landmark -->
				<div class="form-group row">
					<label for="address_landmark" class="col-sm-2 col-form-label">
						Landmark:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="address_landmark"
							placeholder="Enter landmark" name="address_landmark" th:field="*{address.landmark}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('address.landmark')}"
						th:errors="*{address.landmark}">Address.Landmark Error</div>
				</div>


<!-- address.streetAddress -->
				<div class="form-group row">
					<label for="address_streetAddress" class="col-sm-2 col-form-label">
						streetAddress:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="address_streetAddress"
							placeholder="Enter streetAddress" name="address_streetAddress" th:field="*{address.streetAddress}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('address.streetAddress')}"
						th:errors="*{address.streetAddress}">Address.StreetAddress Error</div>
				</div>


<!-- address.locality -->
				<div class="form-group row">
					<label for="address_locality" class="col-sm-2 col-form-label">
						locality:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="address_locality"
							placeholder="Enter locality" name="address_locality" th:field="*{address.locality}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('address.locality')}"
						th:errors="*{address.locality}">Address.Locality Error</div>
				</div>

<!-- address.state -->
				<div class="form-group row">
					<label for="address_state" class="col-sm-2 col-form-label">
						state:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="address_state"
							placeholder="Enter state" name="address_state" th:field="*{address.state}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('address.state')}"
						th:errors="*{address.state}">Address.State Error</div>
				</div>
<!-- address.countryName -->
				<div class="form-group row">
					<label for="address_countryName" class="col-sm-2 col-form-label">
						countryName:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="address_countryName"
							placeholder="Enter countryName" name="address_countryName" th:field="*{address.countryName}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('address.countryName')}"
						th:errors="*{address.countryName}">Address.CountryName Error</div>
				</div>
				
<!-- address.postalCode -->
				<div class="form-group row">
					<label for="address_postalCode" class="col-sm-2 col-form-label">
						postalCode:
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="address_postalCode"
							placeholder="Enter postalCode" name="address_postalCode" th:field="*{address.postalCode}">
					</div>
					<div class="col-sm-5"  style="color:red" th:if="${#fields.hasErrors('address.postalCode')}"
						th:errors="*{address.postalCode}">Address.PostalCode Error</div>
				</div>




				<div class="form-group row">
					<div class="col-sm-2">
					</div>
					<div class="col-lg-3">
						<button type="submit" class="btn btn-primary btn-md">Register</button>
					</div>
				</div>
		</form>
	</div>
 	<script>
	var x = document.getElementById("demo");
	
	function showError(error) {
	  switch(error.code) {
	    case error.PERMISSION_DENIED:
	      x.innerHTML = "User denied the request for Geolocation."
	      break;
	    case error.POSITION_UNAVAILABLE:
	      x.innerHTML = "Location information is unavailable."
	      break;
	    case error.TIMEOUT:
	      x.innerHTML = "The request to get user location timed out."
	      break;
	    case error.UNKNOWN_ERROR:
	      x.innerHTML = "An unknown error occurred."
	      break;
	  }
	}
	
/* 	function getLocation() {
	  if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(getPositionInFormFields, showError);
	  } else { 
	    x.innerHTML = "Geolocation is not supported by this browser.";
	  }
	}
	
	 
	function getPositionInFormFields(position) {
		document.getElementById("latitude").value = position.coords.latitude;
		document.getElementById("longitude").value = position.coords.longitude;
	 	  x.innerHTML = "Latitude: " + position.coords.latitude + 
	  "<br>Longitude: " + position.coords.longitude; 
	}
 */
 
	function getLocation() {
	  if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(getPositionInFormFields, showError);
	  } else { 
	    x.innerHTML = "Geolocation is not supported by this browser.";
	  }
	}
	
	 
	function getPositionInFormFields(position) {
		document.getElementById("latitude").value = position.coords.latitude;
		document.getElementById("longitude").value = position.coords.longitude;
	/* 	  x.innerHTML = "Latitude: " + position.coords.latitude + 
	  "<br>Longitude: " + position.coords.longitude; */
	}

 
 
 
	</script>
</body>
</html>
